<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/Login/login.css" />
  </head>
  <body>
    <main>
      <div class="Login">
        <h1>Login</h1>
        <form action="/login" method="POST">
          <label for="email-label">Email</label>
          <input
            type="text"
            name="email"
            placeholder="email"
            id="email-label"
          />
          <label for="pass">Password</label>
          <span>
            <input
              type="password"
              name="password"
              id="pass"
              placeholder="password"
            />
            <img src="/images/Signup/eye.png" alt="toggle" id="eyeImg" />
          </span>
          <button type="submit">Login</button>
          <p>Don't have account? <a href="/signup">Signup</a></p>
        </form>
      </div>
    </main>
    <script src="/js/login.js"></script>
  </body>
</html>
