<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/css/Signup/signup.css" />
  </head>
  <body>
    <main>
      <div class="signup">
        <form action="/signup" method="POST" id="form">
          <h1>Signup</h1>
          <br />
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" id="firstName" required />
          <br />
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" id="lastName" required />
          <br />
          <label for="Email">Email</label>
          <input type="text" name="email" required id="email" />
          <br />
          <label for="pass">Password</label>
          
            <input type="text" name="password" required maxlength="15" minlength="8" id="pass" />
          </span>
          <br />
          <label for="confirmPass">Confirm Password</label>

          <input type="text" name="confirmPass" required maxlength="15" minlength="8" id="confirmPass"/>

          <br />
          <label for="options">I wan't to join as</label>
          <div class="radio-group" >
            <label
              ><input type="radio" name="userRole" value="reader" required />
              Reader</label
            >
            <label
              ><input type="radio" name="userRole" value="writer" required />
              Writer</label
            >
            <label
              ><input type="radio" name="userRole" value="guest" required />
              Guest</label
            >
          </div>
          <br />
          <button type="submit" id="submit">Signup</button>
          <br />
          <p>Already have an account?<a href="/login">Login</a></p>
        </form>
      </div>
    </main>
    <script src="/js/signup.js"></script>
  </body>
</html>
